html {
    font-size: 110%;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
input,
button,
div,
textarea {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

body {
    background-color: #5c94fc;
}

#page {
    background-color: #fff;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    padding: 3.5rem 1.2rem 3rem;
    position: relative;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

#network-indicator {
    background: #222;
    border-radius: 6px;
    color: white;
    font-family: monospace;
    padding: 0.15rem 0.4rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#logos {
    position: absolute;
    top: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

#logos img,
#logos svg {
    height: 31px;
    width: 31px;
}

#logos img:hover,
#logos svg:hover {
    cursor: pointer;
}

#logos img:hover {
    filter: brightness(1.16);
}

#logos svg:hover {
    filter: brightness(2);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.section h2 {
    padding-bottom: 0.5rem;
}

#login-buttons {
    gap: 10px;
}

#login-buttons .btn-login {
    width: 100%;
    max-width: 270px;
    border-radius: 12px;
    border: 0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 2rem;
}

#login-buttons .btn-login:hover {
    cursor: pointer;
    filter: brightness(1.3);
}

.btn-send,
.btn-faucet,
.btn-clear {
    border: 2px solid black;
    color: black;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    margin: 0.5rem 0 1rem;
}

.btn-send:hover,
.btn-faucet:hover,
.btn-clear:hover {
    cursor: pointer;
    background-color: gold;
}

.btn-send.disabled,
.btn-faucet.disabled,
.btn-clear.disabled {
    color: #999;
    border-color: #999;
    background-color: #ddd;
}

.btn-send.disabled:hover,
.btn-faucet.disabled:hover,
.btn-clear.disabled:hover {
    cursor: auto;
}

.btn-clear {
    font-size: 0.85em;
}

#accounts .account {
    width: 100%;
}

#accounts .account>div {
    overflow-wrap: break-word;
    padding: 0.2rem 0;
    font-family: monospace;
    font-size: 1.1em;
}

#accounts .account label.provider {
    display: inline-block;
    color: white;
    border-radius: 6px;
    padding: 0.15rem 0.4rem;
}

#accounts .account .btn-send {
    margin-right: 0.6rem;
}

.Google {
    background-color: #db4437;
}

.Twitch {
    background-color: #9146ff;
}

.Facebook {
    background-color: #0766ff;
}

.btn-copy {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    vertical-align: middle;
}

dialog {
    padding: 2rem;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Pastikan di atas elemen lain */
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}